<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>some web page </title>
    </head>
    <body>
        {{> header}}
        <p>
            sdasdasd
        </p>
        {{> footer}}
    </body>
</html>    